# Core ML Libraries
pytorch-lightning

# Image Augmentation
albumentations

# Cytomine Integration
cytomine-python-client

# Visualization
matplotlib
seaborn
plotly

# Experiment Tracking
wandb

# Notebook Environment
jupyter
ipykernel
scikit-learn

tensorboard

# --extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio

